<div class="Card">
    <div class="Card_image">
        <img class="Image" src="/imagesProduit/{{ product.imageName }}">
    </div>
    <div class="Card_info">
        <p class="Card_title">
            {{ product.name }}
        </p>
        <div class="Card_description">
            {{ product.description }}
        </div>
        <p class="Card_price">
            {{ product.price|price }}
        </p>
    </div>
</div>