{% extends "base.html.twig"%}

{% block body %}
<p class="Message -warning"> Vous êtes sur le point de supprimer l'article ci dessous.
Confirmer l'action si vous êtes sûr de ce que vous faîtes.</p>

    <p>
    <form action="{{ path('manage_product_delete', {'id':product.id}) }}" method="post">
        <input type="hidden" name="token" value="{{ csrf_token('delete-product') }}">
    <button type="submit" class="Button -danger -reverse">Supprimer définitivement</button>
    </form>
    </p>
    {% include 'product/_product_card.html.twig' %}

{% endblock body %}