{% extends "base.html.twig"%}

{% block body %}
<p class="Message -warning"> Vous êtes sur le point de supprimer l'article ci dessous.
Confirmer l'action si vous êtes sûr de ce que vous faîtes.</p>

    <p>
        <a class="Button -danger -reverse" href="{{ path('manage_product_delete', {'id':product.id}) }}">
        Supprimer définitivement
        </a>
    </p>

    {% include 'product/_product_card.html.twig' %}

{% endblock body %}