
{% extends "base.html.twig" %}

{% block body %}
    <h1> Liste de tous les produits</h1>
    {% for product in products %}
        {% if loop.first %}
            {% if nb_of_results is defined %}
            <p> {{ nb_of_results }} résultats</p>
                {% endif %}
            <div class="CardCollection">
        {% endif %}
        {% include 'product/_product_card.html.twig' %}
        {% if loop.last  %}
            </div>
        {% endif %}
        {% else %}
        <p> Il n'y a aucun produit</p>
    {% endfor %}
{% endblock %}