.Card {
  background-color: white;
  border-radius: 3px;
  height: 300px;
  padding: 5px;
  border: solid $card-border-color 2px;

  display: flex; //les elements directement enfants deviennent des flex-items
//(ils se placent sur la même ligne les uns à la suite des autres sans retour à la ligne)

  &:hover {
    border: solid 5px $card-border-color-hover;
  }

  &.-only{
    &:hover {
      border: solid $card-border-color 2px;
    }
  }

  & > * {
    flex-basis: 0; //taille de base équivalente au contenu
  }

  &_image {
    flex-grow: 1.5;

    display: flex; //pour permettre à l'element enfant (ici l'image)
    //de beneficier des proprietes applicables aux flex-items

    justify-content: center;
    align-items: center; //centrage vertical (evite que l'element occupe tout l'espace
    //et soit déformé
  }

  &_info {
    text-decoration: none;
    color: inherit;
    flex-grow: 2;
    padding: 5px;

    display: flex; //je veux que les elements enfants directs deviennent des flex-items
    flex-direction: column;
  }

  &_title{
    font-size: 3rem;
    font-weight: bold;
    flex-grow: 0.5;
  }

  &_description {
    flex-grow: 2;
  }

  &_price{
    font-weight: bold;
  }
}