<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-with, initial-scale=1.0, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="LayoutContainer">
    <header class="Header LayoutContainer_header">
        <p class="Brand -big -sober">Telem</p>
    </header>
    <aside class="MainMenu LayoutContainer_mainMenu">
        Menu
    </aside>
    <main class="MainContent LayoutContainer_mainContent">
        {% block body %}
            <h1> Hello World ! </h1>
            <p> Je suis du contenu dans le template base.html.twig </p>
        {% endblock %}
    </main>
    <footer class="Footer LayoutContainer_footer">
        ici un pied de page
    </footer>
    </body>
</html>
